<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-4.0.xsd">



	<sec:http auto-config="true" use-expressions="true">
		<sec:intercept-url pattern="/views/secure.xhtml"
			access="hasRole('ROLE_USER')" />
		<sec:intercept-url pattern="/views/unsecure.xhtml"
			access="permitAll" />
		<sec:intercept-url pattern="/**" access="permitAll" />
		<sec:intercept-url pattern="/views/authentification.xhtml*"
			access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:form-login login-page="/views/authentification.xhtml" />
		<sec:logout invalidate-session="true"
			delete-cookies="JSESSIONID,SPRING_SECURITY_REMEMBER_ME_COOKIE"
			logout-success-url="/views/authentification.xhtml"></sec:logout>
	</sec:http>

	<sec:authentication-manager alias="authenticationManager">
		<sec:authentication-provider>
			<sec:jdbc-user-service data-source-ref="dataSource"

				users-by-username-query="
        select `username` as username, `password`, `enabled` 
        from `users` where password=?"

				authorities-by-username-query="
        select `username` as username, `role` as authority from `user_roles` where username =?" />
		</sec:authentication-provider>
	</sec:authentication-manager>


</beans:beans>